/* Shared dependencies */
@import "../../shared/variables.css";
@import "../../shared/flex.css";
@import "../../shared/components/button/button.css";

/* Component styles */
@import "./controls.css";
@import "./source-button.css";
@import "./media-selector.css";
@import "./status-indicator.css";
