/* Shared dependencies */
@import "@moq/ui-core/variables.css";
@import "@moq/ui-core/flex.css";
@import "@moq/ui-core/button/button.css";
@import "@moq/ui-core/stats/styles/index.css";

/* Component styles */
@import "./controls.css";
@import "./volume-slider.css";
@import "./quality-selector.css";
@import "./buffer-control.css";
@import "./buffering-indicator.css";
@import "./status-indicator.css";
