@use "sass:map";
@use "./colors.scss" as colors;
@use "./spacing.scss" as spacing;

@mixin flex($direction: row, $align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin text-base {
    font-family: "Segoe UI", Roboto, sans-serif;
}

.stats {
    display: flex;
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 2;
    width: 100%;
    height: inherit;
    container-type: inline-size;

    .stats__wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        @include flex(column, center, flex-start);
    }

    .stats__button {
        position: absolute;
        top: spacing.$lg;
        right: spacing.$lg;
        @include flex();
        width: 40px;
        height: 40px;
        padding: spacing.$sm;
        background-color: colors.$black-alpha-85;
        border: 1px solid colors.$gray-light-alpha-25;
        border-radius: 8px;
        cursor: pointer;
        color: colors.$gray-light;
        transition: all 0.1s ease-in-out;
        pointer-events: auto;
        flex-shrink: 0;

        &:hover {
            background-color: colors.$gray-dark;
            border-color: colors.$gray-light;
            color: colors.$white;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    .stats__panel {
        position: absolute;
        @include flex(row, flex-start);
        flex-wrap: wrap;
        gap: spacing.$md;
        max-width: 240px;
        width: 100%;
        background-color: colors.$black-alpha-85;
        border: 1px solid colors.$gray-light-alpha-25;
        border-radius: 8px;
        padding: spacing.$md;
        pointer-events: auto;
        top: 8px;

        @container (width > 480px) and (width <=768px) {
            max-width: 360px;
            padding: spacing.$xl;
        }

        @container (width > 768px) {
            max-width: 600px;
            padding: spacing.$xl;
        }

        .stats__item {
            @include flex(row, flex-start, flex-start);
            height: -webkit-fill-available;
            column-gap: spacing.$sm;
            flex-basis: calc(50% - spacing.$md);
            flex-grow: 1;
            flex-shrink: 1;

            @container (width > 480px) {
                flex-basis: calc(25% - spacing.$md);
            }

            @each $icon-name, $colors in colors.$theme-colors {
                $primary: map.get($colors, primary);
                $surface: map.get($colors, surface);

                &.stats__item--#{$icon-name} {
                    .stats__icon-wrapper {
                        background-color: $surface;
                    }

                    .stats__icon {
                        color: $primary;
                    }

                    .stats__item-data {
                        color: $primary;
                    }
                }
            }

            .stats__icon-wrapper {
                display: none;
                padding: spacing.$sm;
                border-radius: 8px;
                width: fit-content;
                height: fit-content;
                flex-shrink: 0;

                @container (width > 480px) {
                    @include flex();
                }

                .stats__icon {
                    width: 24px;
                    height: 24px;
                    @include flex();
                }

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            .stats__item-detail {
                @include flex(column, flex-start, space-evenly);
                gap: spacing.$xs;

                .stats__item-text {
                    font-size: 12px;
                    font-weight: 500;
                    text-transform: capitalize;
                    color: colors.$gray-light;
                    @include text-base;
                    letter-spacing: 1px;
                    line-height: 12px;
                }

                .stats__item-data {
                    font-size: 16px;
                    font-weight: bold;
                    @include text-base;
                    white-space: pre-wrap;
                    line-height: 1.5;
                }
            }
        }
    }
}